<!DOCTYPE html>
<html>

  <head>
    <mate charest="utf-8" />
    <title>{{title}}</title>
    <style>
      .bigFont {
        font-size: 40px;
        font-weight: bold;
      }
    </style>
  </head>

  <body>
    <table>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="2" class="bigFont">NASTAVNI PREDMET: ({{predmet}})</td>
          <td colspan="8">{{priprema.predmet}}</td>
        </tr>
        <tr>
          <td colspan="2">RAZRED I ODJELJENJE: </td>
          <td colspan="8">{{priprema.razred}}</td>
        </tr>
        <tr>
          <td colspan="2">DATUM: </td>
          <td colspan="8">{{priprema.datum}}</td>
        </tr>
        <tr>
          <td colspan="2">NASTAVNA JEDINKA: </td>
          <td colspan="8">{{priprema.nastavnaJedinica}}</td>
        </tr>
        <tr>
          <td colspan="2">TIP ČASA: </td>
          <td colspan="8">{{priprema.tipCasa}}</td>
        </tr>
        <tr>
          <td colspan="2">CILJ ČASA: </td>
          <td colspan="8"></td>
        </tr>
        <tr>
          <td></td>
          <td colspan="2">a) OBRAZOVNI: </td>
          <td colspan="7">{{priprema.ciljeviObrazovni}}</td>
        </tr>
        <tr>
          <td></td>
          <td colspan="2">b) ODGOJNI: </td>
          <td colspan="7">{{priprema.ciljeviOdgojni}}</td>
        </tr>
        <tr>
          <td></td>
          <td colspan="2">c) FUNKCIONALNI: </td>
          <td colspan="7">{{priprema.ciljeviFunkcionalni}}</td>
        </tr>
        <tr>
          <td></td>
          <td colspan="2">d) DUHOVNI: </td>
          <td colspan="7">{{priprema.ciljeviDuhovni}}</td>
        </tr>
        <tr>
          <td colspan="2">OBLICI RADA: </td>
          <td colspan="8">{{priprema.obliciNastavnogRada}}</td>
        </tr>
        <tr>
          <td colspan="2">METODE NASTAVNOG RADA: </td>
          <td colspan="8">{{priprema.nastavneMetode}}</td>
        </tr>
        <tr>
          <td colspan="2">NASTAVNA SREDSTVA: </td>
          <td colspan="8">{{priprema.nastavniPomagala}}</td>
        </tr>
        <tr>
          <td colspan="10"></td>
        </tr>
        <tr>
          <td colspan="10">TOK NASTAVNOG RADA – STRUKTURA ČASA </td>
        </tr>
        <tr>
          <td colspan="10"></td>
        </tr>
        <tr>
          <td colspan="10">UVODNI DIO ({{priprema.uvodniTrajanje}} minuta)</td>
        </tr>
        <tr>
          <td colspan="10"></td>
        </tr>
        <tr>
          <td colspan="10"> {{{ priprema.uvodniSadrzaj }}}</td>
        </tr>
        <tr>
          <td colspan="10"></td>
        </tr>
        <tr>
          <td colspan="10">GLAVNI DIO ({{priprema.glavniTrajanje}} minuta)</td>
        </tr>
        <tr>
          <td colspan="10"></td>
        </tr>
        <tr>
          <td colspan="10">{{{ priprema.glavniSadrzaj }}}</td>
        </tr>
        <tr>
          <td colspan="10"></td>
        </tr>
        <tr>
          <td colspan="10">ZAVRŠNI DIO ({{priprema.zavrsniTrajanje}} minuta)</td>
        </tr>
        <tr>
          <td colspan="10"></td>
        </tr>
        <tr>
          <td colspan="10">{{{priprema.zavrsniSadrzaj }}}</td>
        </tr>
        <tr>
          <td colspan="10"></td>
        </tr>
        <tr>
          <td colspan="2">ŠKOLSKA GODINA: </td>
          <td colspan="8">{{priprema.skolskaGodina}}</td>
        </tr>
        <tr>
          <td colspan="10"></td>
        </tr>
        <tr>
          <td colspan="2">KOREKCIJA - DOPUNA </td>
          <td colspan="8"></td>
        </tr>
        <tr>
          <td colspan="10">{{{priprema.korekcija }}}</td>
        </tr>
        <tr>
          <td colspan="10"></td>
        </tr>
        <tr>
          <td colspan="2">Nastavnik: </td>
          <td colspan="3">{{priprema.nastavnik}}</td>
          <td colspan="2">Pregledao: </td>
          <td colspan="3"></td>
        </tr>
      </tbody>
    </table>
  </body>

</html>